<div class="twelve wide column custom-nav">

    <div class="ui text container  custom-margin-chattab">
        <div class="ui horizontal list">
            <div class="item">
                <img class="ui mini circular image" src="assets/chatlogo.png">
                <div class="content">
                    <div class="ui sub header">Tars</div>

                </div>
            </div>
        </div>
    </div>
    <!-- <hr> -->


</div>

<div class="twelve wide column message-container">
    <div class="ui text container">

        <div *ngFor="let data of final_output">
            <div *ngIf="data.from=='bot';then botBlock else userBlock"></div>

            <ng-template #botBlock>
        <div class="ui message custom-message message-user" >
            <img [src]="data['img_url']" class="ui image" alt="">
            <!-- <p>{{data['string']}}</p> -->
            <div [innerHTML]="data['string']"></div>
            <!-- <small style="display: block;width: 100%;color: grey;">Sent at 10:30AM</small> -->
        </div>
    </ng-template>
    <ng-template #userBlock>
        <div class="ui message custom-message message-bot bg-blue text-white">
            <p>{{data['answer']}}</p>
            <!-- <small style="display: block;width: 100%;color: rgb(201, 201, 201);">Sent at 10:30AM</small> -->
        </div>
    </ng-template>
    </div>


    </div>

</div>


<div class="ui vertical footer segment custom-footer" *ngIf="showResponse">

    <div *ngIf="type_of_input=='text'; then thenBlock else elseBlock"></div>
    
    <ng-template #thenBlock>
            <div class="ui action input  center aligned grid"
            style="width: 96%;margin-left: 10px; margin-top: 15px;margin-bottom: 15px;">

            <input type="text" placeholder="Type here" [(ngModel)]="user_response_string">
            <button class="ui button" (click)="updateAnswer($event,'text')"><i class="paper plane icon"></i></button>

        </div>
    </ng-template>

    <ng-template #elseBlock>

        <div class="ui action input  center aligned grid"
            style="width: 96%;margin-left: 10px; margin-top: 15px;margin-bottom: 15px;" *ngFor="let item of input_values">

            <button class="ui button text-center center aligned grid"
                style="width: 75%;text-align: center!important;" [value]="item.val" (click)="updateAnswer($event,'buttons_vertical')">{{item.name}}</button>
        </div>
    </ng-template>

    

</div>