<div id="example1">
  <div class="ui sticky">
   <div style="clear:both" class="ui teal menu">
   <a class="active item">
    <i class="home icon"></i> Home
   </a>
   <a class="item">
    <i class="info icon"></i> About 
   </a>
   <a class="item">
    <i class="book icon"></i> Read
   </a>
   <a class="item">
    <i class="edit icon"></i> Write
   </a>
   <div class="ui right menu">
    <a class="item" id="logIn">
     <i class="user icon"></i> Log In 
    </a>
    <a class="item" href="signup">
     <i class="signup icon"></i> Sign Up 
    </a>
   </div>      
  </div>
  ... Added some content here ...
 </div>